WackyBreakout2020/Temp/UnityLockfile
WackyBreakout2020/.vs/WackyBreakout2020/v15/Server/sqlite3/storage.ide-wal
WackyBreakout2020/.vs/WackyBreakout2020/v15/Server/sqlite3/storage.ide-shm
WackyBreakout2020/.vs/WackyBreakout2020/v15/Server/sqlite3/storage.ide
WackyBreakout2020/.vs/WackyBreakout2020/v15/.suo
*.ide
WackyBreakout2020/.vs/WackyBreakout2020/v15/.suo
WackyBreakout2020/.vs/WackyBreakout2020/v15/Server/sqlite3/storage.ide
WackyBreakout2020/.vs/WackyBreakout2020/v15/Server/sqlite3/storage.ide-shm
WackyBreakout2020/.vs/WackyBreakout2020/v15/Server/sqlite3/storage.ide-wal
*.ide
WackyBreakout2020/Temp/__Backupscenes/0.backup
WackyBreakout2020/Temp/UnityTempFile-0e792dfd7aff67c42bdaf10cdde65e40
WackyBreakout2020/Library/CurrentLayout.dwlt
WackyBreakout2020/Library/shadercompiler-UnityShaderCompiler.exe0.log
WackyBreakout2020/Library/CurrentLayout.dwlt
*.dwlt
